<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nju.yufan.yummy.dao.OrderItemDao">
    <insert id="insertBatch"  parameterType="java.util.List">
        insert into orderitems(orderid, dishid, number,price) values
        <foreach collection="list" item="item" separator="," >
            (#{item.orderid}, #{item.dishid}, #{item.number},#{item.price})
        </foreach>
    </insert>
    <delete id="deleteItems">
        delete from orderitems where orderid=#{oid}
    </delete>
</mapper>